.wrapper{
     margin-top: 18px;
     text-align: center;
     width: 100%;
     height: fit-content;
}

.wrapper h1{
     font-size: 22px;
}
h1.sectionTitle{
     font-size: 34px;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.filterContainer{
     padding:16px;
     padding-bottom: 32px;
}
.filterContainer select{
     text-align: center;  
     width: 250px;
     height: 26px;
     outline: none;
     border: none;
     font-size: 18px;
}