
.commentWrapper{
     margin:auto;
     width: 80%;
     height: 170px;
     /* overflow-y: auto; */
     border-left: 2px solid gray;
     border-right: 2px solid gray;
     border-radius: 15px;
     display: flex;
     flex-direction: column;
     position: relative;
     margin-bottom: 44px;
     background-color: rgb(75,70,109);
     opacity: 0.8;
}
.titleContainer{
     padding-top: 12px;
     text-align: center;
     width: 90%;
     margin-left: auto;
     margin-right: auto;
     border-bottom: 2px solid rgb(45, 42, 42);
     margin-bottom: 12px;
     max-height: 80px;

     overflow: hidden;
     word-wrap: normal;
   
     font-style: italic;
     font-family: "fantasy";
    
}

.contentContainer{
     width: 96%;
     padding: 6px 16px;
     text-align: left;
     height: 84px;
     margin-left: auto;
     margin-right: auto;
     overflow-y: auto;
     background-color: rgb(29, 29, 29);
     overflow-y: auto;
     word-break: break-all;
     border-radius: 5px;

}
.radioBtnContainer{
     position: absolute;
     top: -24px;
     z-index: 10;
     left: 0px;
     font-size: 20px;
}

.btnsContainer{
     position: absolute;
     bottom: 0px;
     right: 0px;
     
}
.btnsContainer button{
     background-color: rgb(23, 23, 23);
     width: 100px;
     height: 28px;
     font-size: 16px;
     border: none;    
}
.commentEditBtn{
     border-radius: 15px 0px 0px 0px;
}
.commentDelBtn{
     border-radius: 0px 0px 15px 0px;
}

.commentDelBtn:hover ,.commentEditBtn:hover{
     background-color: rgb(57, 57, 57);
     cursor: pointer;
}

.commentDelBtnDisabled,.commentEditBtnDisabled {
     border-radius: 0px 0px 15px 0px;
     background-color: black;
     opacity: 0.5;   
}

.commentDatesContainer{
     position: absolute;
     bottom: 4px;
     left: 20px;
     font-size: 14px;
     display: flex;
     flex-direction: row;
     justify-content: flex-start;
     align-items: flex-start;
     gap: 0px 12px;
}


@media only screen and (max-width: 920px) {
     .commentDatesContainer {
       flex-direction: column;
     }
   }

   @media only screen and (max-width: 780px) {
     .commentWrapper {
       zoom: 0.8;
       width: 96%;
     }
   }

   @media only screen and (max-width: 580px) {
     .commentWrapper {
       height: 200px;
     }
   }